/ {
    // Define the key matrix for the left half
    corne_left {
        compatible = "zmk,keyboard";
        label = "Left Half";

        // Matrix configuration
        matrix {
            rows = <4>;
            cols = <5>;
            row-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>, <&gpio0 3 GPIO_ACTIVE_LOW>, <&gpio0 4 GPIO_ACTIVE_LOW>, <&gpio1 10 GPIO_ACTIVE_LOW>;
            col-gpios = <&gpio0 28 GPIO_ACTIVE_LOW>, <&gpio0 29 GPIO_ACTIVE_LOW>,
                        <&gpio0 30 GPIO_ACTIVE_LOW>, <&gpio0 31 GPIO_ACTIVE_LOW>, <&gpio1 0 GPIO_ACTIVE_LOW>;
        };

        // Define the keymap for the left half
        keymap {
            compatible = "zmk,keymap";

            default_layer {
                bindings = <
                    &kp Q &kp W &kp E &kp R &kp T
                    &kp A &kp S &kp D &kp F &kp G
                    &kp Z &kp X &kp C &kp V &kp B
                    &kp LCTL &mo 1 &kp SPC &kp RET &kp ESC
                    &kp LGUI &kp LALT &kp LSHFT
                >;
            };

            lower_layer {
                bindings = <
                    &kp 1 &kp 2 &kp 3 &kp 4 &kp 5
                    &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT
                    &kp LSHFT &kp UNDER &kp PLUS &kp LBRC &kp RBRC
                    &kp LGUI &trans &trans &kp BSPC &kp DEL
                    &kp LGUI &kp LALT &kp LSHFT
                >;
            };

            raise_layer {
                bindings = <
                    &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT
                    &kp CARET &kp AMPS &kp ASTRK &kp LPAR &kp RPAR
                    &kp MINUS &kp EQUAL &kp LBKT &kp RBKT &kp BSLH
                    &kp LGUI &trans &trans &kp BSPC &kp GRAVE
                    &kp LGUI &kp LALT &kp LSHFT
                >;
            };
        };
    };
};

